[url "git://"]
	insteadOf = https://
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "https://github.com/"]
	insteadOf = ssh://git@github.com/
[user]
	name = truong.vv
	email = truongsocui2k@gmail.com
[url "https://"]
	insteadOf = git://
[safe]
	directory = D:\\projects\\nestjs\\nestjs-backend\\actions-runner\\_work\\nestjs-backend\\nestjs-backend
