name: Test Windows Runner

on:
  push:
    branches:
      - master
      - main

jobs:
  test:
    runs-on: [self-hosted, Windows]

    steps:
      - uses: actions/checkout@v4
      - run: node -v
      - run: npm -v
